#navigation_bar{
	background-color: #000000;
	color: #3FC1C9;
}
	#navigation_bar a {
		color: #3FC1C9;
	
	}
.container-fluid{
	padding: 0 px;
}
#spaces{
	background-color: #3fc1c9;
}
#spaces-image{
	padding-top: 15px;
}
.spaces-text{
	padding-top: 70px;	
	color: #F5F5F5;
}
#santa{
	background-color: #F5F5F5;
}
.santa-text {
	padding-top: 70px;
	color: #E23E57;
}
#santa-image {
	padding-top: 15px;
}
#suggestion-box{
	background-color: #FAE3D9;
}
.suggestion-box-image{
	padding-top: 20px;
}